@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0d0d0d;
  color: #ffffff;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

/* WRAPPER START */
.wrapper {
  background-image: url(../img/svg/png/Asoschilar\ clum\ img.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
/* WRAPPER END */

/* HEDER START */
.header {
  padding-top: 65px;
  padding-bottom: 24px;
}

.header-container {
  max-width: 1414px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  display: flex;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 48px;
  border: 1px solid #262626;
  border-radius: 50px;
  background-color: #17171799;
  padding: 20px 34px;
}

.nav-link {
  text-decoration: none;
  color: #7a7a7a;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20.8px;
}

.nav-link:hover {
  color: #cccccc;
  transition: 0.2s;
}

.header-btn {
  color: #cccccc;
  background-color: #17171799;
  border: 1px solid #262626;
  border-radius: 50px;
  text-decoration: none;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 20.8px;
  padding: 16px 28px;
}

.header-btn:hover {
  color: #ffffff;
  transition: 0.2s;
}

.hamburger-btn {
  width: 48px;
  height: 48px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  display: none;
  padding: 10px;
}
/* HEADER END */

/* MAIN START */
/* HERO START */
.hero {
  padding-top: 125px;
  padding-bottom: 119px;
}

.hero-container {
  max-width: 723px;
  text-align: center;
}

.hero-title {
  font-family: "Poppins", sans-serif;
  font-size: 132px;
  font-weight: 500;
  line-height: 132px;
  background: linear-gradient(243.33deg, #fffff7 8.55%, #727267 100%);
  color: transparent;
  background-clip: text;
  margin-bottom: 30px;
}

.hero-text {
  font-family: "Inter", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 35px;
  color: #7d7f78;
  max-width: 516px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 49px;
}

.hero-link {
  background-color: #ffffff;
  border: 1px solid #ffffff;
  display: inline-flex;
  align-items: center;
  gap: 24px;
  text-decoration: none;
  border-radius: 50px;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  color: #000000;
  padding: 9px 15px 10px 20px;
}
/* HERO END */

/* TOGETHER START */
.together {
  padding-top: 119px;
  padding-bottom: 117px;
}

.together-container {
  max-width: 1137px;
}

.together-title {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 52.8px;
  background: linear-gradient(
    79.97deg,
    #fffff7 0%,
    rgba(255, 255, 247, 0.34) 100%
  );
  color: transparent;
  background-clip: text;
  text-align: center;
  margin-bottom: 82px;
}

.together-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 27px;
}

.together-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 1px solid #262626;
  background-color: #262626;
  border-radius: 30px;
  gap: 24px;
  padding: 0 17px 32px 17px;
}

.together-col-img {
  width: 120px;
  height: 120px;
  border-radius: 29px;
  margin-top: -17px;
}

.together-col-text {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: #cccccc;
}
/* TOGETHER END */

/* BENEFITS START */
.benefits {
  padding-bottom: 109px;
  padding-top: 92px;
}

.benefits-container {
  max-width: 1098px;
}

.benefits-title {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 52.8px;
  text-align: center;
  background: linear-gradient(
    79.97deg,
    #fffff7 0%,
    rgba(255, 255, 247, 0.34) 100%
  );
  color: transparent;
  background-clip: text;
  margin-bottom: 80px;
}

.benefits-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 52px;
}

.benefits-col {
  padding: 15px 21px 16px 15px;
  display: flex;
  align-items: center;
  gap: 19px;
  border: 1px solid #262626;
  border-radius: 30px;
  background-color: #1b1b1b;
}

.benefits-img {
  width: 100px;
  height: 100px;
}

.benefits-text {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: #cccccc;
}
/* BENEFITS END */

/* FORM START */
.form {
  padding-top: 109px;
  padding-bottom: 106px;
}

.form-container {
  max-width: 985px;
  position: relative;
}

.form-img1 {
  position: absolute;
  bottom: 64px;
  left: -430px;
  max-width: 330px;
}

.form-img2 {
  position: absolute;
  top: 64px;
  right: -430px;
  max-width: 330px;
}

.form-title {
  font-family: "Poppins", sans-serif;
  font-size: 44px;
  font-weight: 400;
  line-height: 52.8px;
  text-align: center;
  background: linear-gradient(
    71.83deg,
    #fffff7 0%,
    rgba(255, 255, 247, 0.34) 100%
  );
  color: transparent;
  background-clip: text;
  max-width: 840px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 47px;
}

.form-row {
  display: flex;
  gap: 32px;
  justify-content: center;
}

.form-col {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 318px;
  width: 100%;
}

.form-row .form-col:nth-child(3) {
  max-width: 265px;
}

.form-col-title {
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  font-weight: 500;
  line-height: 25.5px;
  text-align: left;
  color: #d7d7d7;
  padding-left: 20px;
}

.form-col-input {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 22.5px;
  text-align: left;
  outline: none;
  border-radius: 22px;
  border: none;
  width: 100%;
  padding: 13px 16px 13px 16px;
}

.form-col-input::placeholder {
  color: #b7b7b7;
}

.form-btn {
  display: flex;
  border: none;
  border-radius: 22px;
  padding-top: 15px;
  padding-bottom: 15px;
  cursor: pointer;
  transform: translateY(12px);
  margin-top: 14px;
}
/* FORM END */

/* ABOUT START */
.about {
  padding-top: 106px;
  padding-bottom: 100px;
}

.about-container {
  max-width: 1100px;
}

.about-title {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 52.8px;
  text-align: center;
  background: linear-gradient(
    79.97deg,
    #fffff7 0%,
    rgba(255, 255, 247, 0.34) 100%
  );
  color: transparent;
  background-clip: text;
  margin-bottom: 86px;
}

.about-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 2px;
}

.about-info {
  max-width: 497px;
}

.about-info-title {
  font-family: "Poppins", sans-serif;
  font-size: 51px;
  font-weight: 600;
  line-height: 41.8px;
  color: #cccccc;
  margin-bottom: 35px;
}

.about-info-text {
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 41.8px;
  letter-spacing: -1.1399999856948853px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #cccccc;
}

.about-img {
  border-radius: 31px;
  object-fit: cover;
  width: 100%;
  object-position: top;
}
/* ABOUT END */

/*  COUNT START */
.count {
  padding-top: 97px;
  padding-bottom: 82px;
}

.count-container {
  max-width: 970px;
}

.count-title {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 52.8px;
  letter-spacing: -1.3200000524520874px;
  text-align: center;
  background: linear-gradient(
    79.97deg,
    #fffff7 0%,
    rgba(255, 255, 247, 0.34) 100%
  );
  color: transparent;
  background-clip: text;
  margin-bottom: 61px;
}

.count-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.count-col-title {
  font-family: "Poppins";
  font-size: 70px;
  font-weight: 400;
  line-height: 73.5px;
  text-align: center;
  background: linear-gradient(
    30.62deg,
    #fffff7 0%,
    rgba(255, 255, 247, 0.34) 100%
  );
  color: transparent;
  background-clip: text;
  margin-bottom: 12px;
}

.count-col-text {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  color: #7a7a7a;
  max-width: 224px;
  margin-left: auto;
  margin-right: auto;
}
/*  COUNT END */

/* MISSION START */
.mission {
  padding-top: 85px;
  padding-bottom: 85px;
}

.mission-container {
  max-width: 1100px;
}

.mission-title {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 52.8px;
  text-align: center;
  background: linear-gradient(
    79.97deg,
    #fffff7 0%,
    rgba(255, 255, 247, 0.34) 100%
  );
  color: transparent;
  background-clip: text;
  margin-bottom: 40px;
}

.mission-info {
  background: linear-gradient(113.49deg, #ffffff 0%, #d2d2d2 100%);
  border-radius: 24px;
  position: relative;
  padding: 78px 75px 99px 74px;
}

.mission-img {
  position: absolute;
  max-width: 190px;
  bottom: -33px;
  right: -100px;
}

.mission-info-text {
  font-family: "Poppins", sans-serif;
  font-size: 45px;
  font-weight: 500;
  line-height: 60px;
  text-align: center;
  color: #000000;
}
/* MISSION END */

/* CLUB-REASONS START */
.club-reasons {
  padding-top: 84px;
  padding-bottom: 105px;
}

.club-reasons-container {
  max-width: 1138px;
}

.club-reasons-title {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 52.8px;
  text-align: center;
  background: linear-gradient(
    79.97deg,
    #fffff7 0%,
    rgba(255, 255, 247, 0.34) 100%
  );
  color: transparent;
  background-clip: text;
  margin-bottom: 85px;
}

.club-reasons-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 28px 82px;
}

.club-reasons-col {
  background-color: #ffffff;
  gap: 24px;
  display: flex;
  align-items: center;
  border-radius: 24px;
  padding: 17px 27px 17px 25px;
}

.club-reasons-row .club-reasons-col:nth-child(1) {
  order: 0;
}

.club-reasons-row .club-reasons-col:nth-child(2) {
  order: 3;
}

.club-reasons-row .club-reasons-col:nth-child(3) {
  order: 5;
}

.club-reasons-row .club-reasons-col:nth-child(4) {
  order: 2;
}

.club-reasons-row .club-reasons-col:nth-child(5) {
  order: 4;
}

.club-reasons-row .club-reasons-col:nth-child(6) {
  order: 6;
}

.club-reasons-col-title {
  font-family: "Poppins", sans-serif;
  font-size: 120px;
  font-weight: 500;
  line-height: 132px;
  text-align: center;
  color: #e0e0e0;
  height: 85px;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.club-reasons-col-text {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  color: #000000;
}
/* CLUB-REASONS END */

/* REQUIREMENT START */
.requirement {
  padding-top: 104px;
  padding-bottom: 91px;
}

.requirement-container {
  max-width: 1138px;
}

.requirement-title {
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  font-weight: 400;
  line-height: 52.8px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 78px;
}

.requirement-heading {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 52.8px;
  text-align: center;
  background: linear-gradient(
    79.97deg,
    #fffff7 0%,
    rgba(255, 255, 247, 0.34) 100%
  );
  color: transparent;
  background-clip: text;
  margin-bottom: 79px;
}

.requirement-row {
  display: flex;
  flex-wrap: wrap;
  gap: 52px;
  justify-content: center;
}

.requirement-col {
  background-color: #262626;
  gap: 16px;
  border: 1px solid #262626;
  border-radius: 30px;
  display: flex;
  align-items: center;
  max-width: 329px;
  padding: 31px 22px 32px 16px;
}

.requirement-col:nth-child(4) {
  max-width: 382px;
}

.requirement-col:nth-child(5) {
  max-width: 382px;
}

.requirement-col-img {
  width: 100px;
  height: 100px;
}

.requirement-col-text {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #cccccc;
}
/* REQUIREMENT END */

/* MEETING START */
.meeting {
  background-color: #ffffff;
  color: #000000;
  padding-top: 87px;
  padding-bottom: 107px;
}

.meeting-container {
  max-width: 1138px;
}

.meeting-title {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 52.8px;
  text-align: center;
  background: linear-gradient(
    79.97deg,
    #000000 0%,
    rgba(24, 24, 24, 0.34) 100%
  );
  color: transparent;
  background-clip: text;
  margin-bottom: 93px;
}

.meeting-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 62px;
  grid-row-gap: 30px;
}

.meeting-col {
  width: 100%;
  display: flex;
  gap: 22px;
  align-items: center;
}

.meeting-col:nth-child(1) {
  order: 0;
}

.meeting-col:nth-child(2) {
  order: 3;
}

.meeting-col:nth-child(3) {
  order: 5;
}

.meeting-col:nth-child(4) {
  order: 7;
}

.meeting-col:nth-child(5) {
  order: 2;
}

.meeting-col:nth-child(6) {
  order: 4;
}

.meeting-col:nth-child(7) {
  order: 6;
}

.meeting-col:nth-child(8) {
  order: 8;
}

.meeting-col-img {
  width: 60px;
  height: 60px;
}

.meeting-col-text {
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
}

.meeting-col-text-title {
  font-weight: 600;
}
/* MEETING END */

/* STEPS START */
.steps {
  padding-top: 92px;
  padding-bottom: 102px;
}

.steps-container {
  max-width: 1100px;
}

.steps-title {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 52.8px;
  letter-spacing: -1.3200000524520874px;
  text-align: center;
  background: linear-gradient(
    79.97deg,
    #fffff7 0%,
    rgba(255, 255, 247, 0.34) 100%
  );
  color: transparent;
  background-clip: text;
  margin-bottom: 79px;
}

.steps-row {
  border: 2px solid #858585;
  background-color: #ffffff;
  color: #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 24px;
  padding: 18px 68px 27px 80px;
}

.steps-col {
  max-width: 256px;
}

.steps-row .steps-col:nth-child(3) {
  max-width: 162px;
}

.steps-row .steps-col:nth-child(3) .steps-col-img {
  width: 49px;
  height: 49px;
  margin-bottom: 23px;
}

.steps-row .steps-col:nth-child(5) {
  max-width: 180px;
}

.steps-col-img {
  width: 74px;
  height: 74px;
  display: flex;
  margin-bottom: 14px;
}

.steps-col-text {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: -1px;
}

.steps-col-text-link {
  color: #4f9bff;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: -1px;
  text-align: left;
}
/* STEPS END */

/* PRICE START */
.price {
  padding-top: 102px;
  padding-bottom: 103px;
}

.price-container {
  max-width: 1082px;
}

.price-row {
  text-align: center;
  border-bottom: 2px dashed #4c4c4c;
}

.price-title {
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  font-weight: 400;
  line-height: 52.8px;
  letter-spacing: -1.3200000524520874px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 95px;
}

.price-heading {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 52.8px;
  letter-spacing: -1.3200000524520874px;
  text-align: center;
  background: linear-gradient(
    79.97deg,
    #fffff7 0%,
    rgba(255, 255, 247, 0.34) 100%
  );
  color: transparent;
  background-clip: text;
  margin-bottom: 78px;
}

.price-text {
  font-family: "Poppins";
  font-size: 115px;
  font-weight: 500;
  line-height: 55px;
  letter-spacing: -1.6200000047683716px;
  text-align: center;
  color: #cccccc;
  margin-bottom: 64px;
}

.price-bottom {
  max-width: 980px;
  padding-top: 60px;
  margin-right: auto;
  margin-left: auto;
}

.price-maney-title {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 52.8px;
  letter-spacing: -1.3200000524520874px;
  text-align: center;
  background: linear-gradient(
    79.97deg,
    #fffff7 0%,
    rgba(255, 255, 247, 0.34) 100%
  );
  color: transparent;
  background-clip: text;
  margin-bottom: 64px;
}

.price-top {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 47px;
}

.price-col {
  border: 1px solid #262626;
  background-color: #303030;
  border: 1px solid #262626;
  border-radius: 30px;
  position: relative;
  padding: 34px 32px 33px;
}

.price-top .price-col:nth-child(2) {
  background-color: #1b1b1b;
  transform: translateY(36px);
}

.price-top .price-col:nth-child(3) {
  background-color: #121212;
}

.price-col-month {
  font-family: "Poppins", sans-serif;
  font-size: 140px;
  font-weight: 600;
  line-height: 0.8;
  letter-spacing: -0.5199999809265137px;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  color: #ffffff;
  opacity: 5%;
}

.price-col-title-2 {
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.5199999809265137px;
  text-align: center;
  color: #cccccc;
  margin-bottom: 29px;
}

.price-col-text {
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.5199999809265137px;
  text-align: center;
  color: #cccccc;
}
/* PRICE END */

/* MEMBERS START */
.members {
  padding-top: 103px;
  padding-bottom: 99px;
}

.members-container {
  max-width: 1279px;
}

.members-title {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 52.8px;
  letter-spacing: -1.3200000524520874px;
  text-align: center;
  background: linear-gradient(
    79.97deg,
    #fffff7 0%,
    rgba(255, 255, 247, 0.34) 100%
  );
  color: transparent;
  background-clip: text;
  margin-bottom: 74px;
}

.members-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 25px 26px;
}

.members-col {
  border: 1px solid #262626;
  border-radius: 30px;
  background-color: #1b1b1b;
  padding: 14px 14px 21px 15px;
}

.members-col-img {
  width: 100%;
  object-fit: cover;
  height: 170px;
  border-radius: 20px;
  margin-bottom: 24px;
}

.members-col-title {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.5199999809265137px;
  text-align: left;
  color: #ffffff;
  padding-left: 7px;
  margin-bottom: 12px;
}

.members-col-text {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 13px;
  text-align: left;
  color: #cecece;
  max-width: 214px;
  padding-left: 7px;
}

.members-col-count {
  font-family: "Poppins", sans-serif;
  font-size: 120px;
  font-weight: 500;
  line-height: 132px;
  letter-spacing: -0.5199999809265137px;
  text-align: left;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* MEMBERS END */

/* CONTACT START */
.contact {
  padding-top: 110px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
}

.contact-container {
  max-width: 1100px;
  background: linear-gradient(113.49deg, #1a1a1a 0%, #0d0d0d 100%);
  border-radius: 24px;
  padding: 62px 35px 64px 59px;
}

.contact-title1 {
  font-family: "Poppins", sans-serif;
  font-size: 54px;
  font-weight: 500;
  line-height: 55px;
  letter-spacing: -1.6200000047683716px;
  text-align: center;
  color: #cccccc;
  max-width: 558px;
  margin-bottom: 23px;
  margin-left: auto;
  margin-right: auto;
}

.contact-title2 {
  font-family: "Poppins", sans-serif;
  font-size: 45px;
  font-weight: 500;
  line-height: 55px;
  letter-spacing: -1.6200000047683716px;
  text-align: center;
  color: #cccccc;
}

.contact-list {
  background-color: #ffffff;
  max-width: 966px;
  display: flex;
  border-radius: 22px;
  color: #adadad;
  justify-content: center;
  gap: 61px;
  list-style: none;
  align-items: center;
  padding-bottom: 13px;
  padding-top: 13px;
  margin-right: auto;
  margin-left: auto;
}

.contact-list .contact-item:nth-child(2) {
  border-left: 3px dashed #c1c1c1;
  border-right: 3px dashed #c1c1c1;
  padding-left: 37px;
  padding-right: 38px;
}

.contact-item-title {
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  font-weight: 500;
  line-height: 14px;
  text-align: left;
  margin-bottom: 12px;
}

.contact-item-link {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  color: #000000;
  font-size: 18px;
  font-weight: 500;
  line-height: 10px;
  letter-spacing: -0.04em;
  text-align: left;
}

.contact-item-link:hover {
  color: #4f9bff;
  transition: 0.3s;
}
/* CONTACT END */
/* MAIN END */

/* MEDIA */
@media (max-width: 1029px) {
  .together-row {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 47px 30px;
  }

  .together-col {
    max-width: 329px;
    margin-left: auto;
    margin-right: auto;
  }

  /* REQUIREMENT START */
  .requirement-col {
    max-width: 45% !important;
  }
  /* REQUIREMENT END */
}

@media (max-width: 1018px) {
  /* ABOUT START */
  .about-box {
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .about-img {
    order: -1;
  }
  /* ABOUT END */

  /*  CLUB-REASONS START */
  .club-reasons-row {
    gap: 28px;
  }
  /* CLUB-REASONS END */

  /* MEMBERS START */
  .members {
    padding-top: 22px;
    padding-bottom: 24px;
  }

  .members-row {
    grid-template-columns: 1fr 1fr 1fr;
  }
  /* MEMBERS END */
}

@media (max-width: 980px) {
  /* BENEFITS START */
  .benefits-row {
    grid-template-columns: 1fr 1fr;
  }
  /* BENEFITS END */

  /* FORM START */
  .form-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  /* FORM END */

  /* MEETING START */
  .meeting-row {
    display: grid;
    grid-template-columns: 1fr;
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  .meeting-title {
    margin-bottom: 87px;
  }

  .meeting-col-img {
    min-width: 60px;
    max-width: 60px;
  }

  .meeting-col-text {
    font-size: 20px;
  }
  /* MEETING END */

  /* PRICE START */
  .price-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .price-top .price-col:nth-child(2) {
    transform: translate(0);
  }
  /* PRICE END */
}

@media (max-width: 940px) {
  .contact-container {
    padding-left: 30px;
    padding-right: 30px;
  }

  .contact-list {
    flex-direction: column;
    align-items: start;
    gap: 15px;
    padding: 20px 40px;
  }

  .contact-item {
    max-width: 100%;
    width: 100%;
    display: block;
  }

  .contact-list .contact-item:nth-child(2) {
    border-left: none;
    border-right: none;
    padding: 0;
    border-top: 3px dashed #c1c1c1;
    border-bottom: 3px dashed #c1c1c1;
    padding: 16px 37px 16px 0;
  }
}

@media (max-width: 920px) {
  /* STEPS START */
  .steps-row {
    padding: 18px;
  }

  .steps-col {
    max-width: 180px;
  }
  /* STEPS END  */
}

@media (max-width: 860px) {
  .club-reasons-row {
    grid-template-columns: 1fr;
  }

  .club-reasons-col {
    order: 0 !important;
  }
}

@media (max-width: 840px) {
  /* HEADER START */
  .header {
    padding-top: 40px;
  }

  .header-logo img {
    width: 66px;
  }

  .nav-list {
    display: none;
  }

  .header-btn {
    display: none;
  }

  .hamburger-btn {
    display: flex;
  }
  /* HEADER END */
}

@media (max-width: 768px) {
  .hero {
    padding-top: 100px;
  }

  .hero-title {
    font-size: 53px;
    line-height: 1;
    margin-bottom: 25px;
  }

  .hero-text {
    font-size: 14px;
    line-height: 1.2;
    margin-bottom: 20px;
  }

  .hero-link {
    font-size: 16px;

    img {
      width: 30px;
    }
  }

  /* TOHETHER START */
  .together {
    padding-bottom: 42px;
  }

  .together-title {
    font-size: 27px;
    line-height: 1.2;
    margin-bottom: 57px;
  }

  .together-col {
    gap: 7px;
    border-radius: 24px;
  }

  .together-col-img {
    width: 96px;
    height: 96px;
    border-radius: 20px;
  }

  .together-row {
    grid-template-columns: 1fr 1fr;
  }

  .together-col-text {
    font-size: 18px;
    line-height: 1.2;
  }
  /* TOGETHER END */

  /* BENEFITS START */
  .benefits {
    padding-top: 48px;
    padding-bottom: 24px;
  }

  .benefits-title {
    font-size: 30px;
    line-height: 1.2;
    margin-bottom: 40px;
  }

  .benefits-row {
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .benefits-col {
    border-radius: 20px;
    padding: 16px 19px;
  }

  .benefits-img {
    width: 80px;
    height: 80px;
  }
  /* BENEFITS END */

  /* FORM START */
  .form {
    padding-top: 67px;
    padding-bottom: 34px;
  }

  .form-title {
    font-size: 27px;
    line-height: 1.2;
    margin-bottom: 28px;
  }

  .form-row {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .form-col {
    max-width: none;
    align-items: start;
  }

  .form-btn {
    padding-top: 10px;
    padding-bottom: 9px;
  }

  .form-img1 {
    position: absolute;
    left: -90px;
    max-width: 160px;
    bottom: 260px;
  }

  .form-img2 {
    position: absolute;
    top: 260px;
    right: -90px;
    max-width: 160px;
  }
  /* FORM END */

  /* COUNT START */

  .count {
    padding-top: 38px;
    padding-bottom: 30px;
  }

  .count-title {
    font-size: 30px;
    line-height: 1.2;
    margin-bottom: 40px;
  }

  .count-row {
    display: flex;
    flex-direction: column;
  }

  .count-col-title {
    font-size: 54px;
    line-height: 1.2;
    margin-bottom: 12px;
  }

  .count-col-text {
    font-size: 18px;
    line-height: 1.2;
  }
  /* COUNT END */

  /* MISSION START */
  .mission {
    padding-top: 30px;
    padding-bottom: 28px;
  }

  .mission-title {
    font-size: 27px;
    line-height: 1.2;
    margin-bottom: 28px;
  }

  .mission-info {
    padding: 40px 30px;
  }

  .mission-info-text {
    font-size: 24px;
    line-height: 1.4;
  }

  .mission-img {
    position: absolute;
    max-width: 121px;
    bottom: -44px;
    right: -29px;
  }
  /* MISSION END */

  /* CLUB-REASONS START */

  .club-reasons {
    padding-top: 37px;
    padding-bottom: 56px;
  }

  .club-reasons-title {
    font-size: 28px;
    line-height: 1.2;
    margin-bottom: 30px;
  }

  .club-reasons-col-title {
    font-size: 80px;
    width: 48px;
    height: 74px;
    display: flex;
    align-items: center;
  }

  .club-reasons-col-text {
    font-size: 16px;
    line-height: 1.2;
  }
  /* CLUB-REASONS END */

  /* REQUIREMENT START */

  .requirement {
    padding-top: 26px;
    padding-bottom: 27px;
  }

  .requirement-row {
    display: grid;
    gap: 30px;
  }

  .requirement-col {
    max-width: 100% !important;
    border-radius: 20px;
    padding: 16px;
  }

  .requirement-title {
    font-size: 30px;
    margin-bottom: 36px;
  }

  .requirement-heading {
    font-size: 20px;
    margin-bottom: 28px;
  }

  .requirement-col-img {
    width: 80px;
    height: 80px;
  }

  .requirement-col-text {
    font-size: 18px;
  }
  /* REQUIREMENT END */

  /* MEETING START */

  .meeting {
    padding-top: 60px;
    padding-bottom: 90px;
  }

  .meeting-row {
    display: grid;
    grid-template-columns: 1fr;
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  .meeting-title {
    line-height: 1.2;
    margin-bottom: 40px;
  }

  .meeting-col-text {
    font-size: 18px;
    line-height: 1.2;
  }
  /* MEETING END */
  /*  STEPS START */

  .steps {
    padding-top: 37px;
    padding-bottom: 107px;
  }

  .steps-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 360px;
    gap: 60px;
    padding: 40px 17px;
    margin-right: auto;
    margin-left: auto;
  }

  .steps-col {
    max-width: 100% !important;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .steps-title {
    font-size: 27px;
    line-height: 1;
    margin-bottom: 40px;
  }

  .steps-col-icon {
    transform: rotate(90deg);
  }
  /* STEPS END */

  /* PRICE START */
  .price {
    padding-top: 25px;
    padding-bottom: 35px;
  }

  .price-row {
    padding-top: 30px;
    margin-bottom: 30px;
  }

  .price-title {
    font-size: 30px;
    line-height: 1.2;
    margin-bottom: 30px;
  }

  .price-heading {
    font-size: 22px;
    line-height: 1.2;
    margin-bottom: 30px;
  }

  .price-top {
    gap: 30px;
  }

  .price-text {
    font-size: 83px;
    line-height: 1;
  }

  .price-maney-title {
    font-size: 22px;
    line-height: 1.2;
    margin-bottom: 30px;
  }

  .price-col {
    border-radius: 20px;
    padding: 30px 32px;
  }

  .price-col-month {
    font-size: 110px;
  }

  .price-col-title-2 {
    font-size: 28px;
    margin-bottom: 20px;
  }

  .price-col-text {
    font-size: 24px;
  }
  /* PRICE END */

  /* MEMBERS START */
  .members-row {
    grid-template-columns: 1fr 1fr;
  }
  /* MEMBERS END */

  /* CONTACT START */
  .contact {
    padding: 0;
    padding-top: 30px;
    padding-bottom: 1px;
  }

  .contact-container {
    border-radius: 0;
    padding: 35px 25px;
  }

  .contact-title1 {
    font-size: 28px;
    line-height: 1.2;
  }

  .contact-title2 {
    font-size: 24px;
    line-height: 1.2;
  }

  .contact-list {
    padding: 16px;
  }
  /* CONTACT END */
}

@media (max-width: 640px) {
  /* ABOUT START */

  .about {
    padding-top: 40px;
    padding-bottom: 35px;
  }

  .about-title {
    margin-bottom: 30px;
  }
  .about-box {
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .about-img {
    order: -1;
    height: 310px;
  }

  .about-info-title {
    font-size: 36px;
    line-height: 1.2;
    margin-bottom: 20px;
  }

  .about-info-text {
    font-size: 18px;
    line-height: 1.4;
  }
  /* ABOUT END */
}

@media (max-width: 540px) {
  /* TOGETHER START */
  .together-row {
    grid-template-columns: 1fr;
  }
  /* TOGETHER END */

  /* MEMBERS START */
  .members-row {
    grid-template-columns: 1fr;
  }

  .members-title {
    font-size: 30px;
    margin-bottom: 40px;
  }
  /* MEMBERS END */
}
/* MADIA END */
