@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0d0d0d;
  color: #ffffff;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
  /* overflow: hidden; */
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

/* WRAPPER START */
.wrapper {
  background-image: url(../img/svg/png/Asoschilar\ clum\ img.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
/* WRAPPER END */

/* HEDER START */
.header {
  padding-top: 65px;
  padding-bottom: 24px;
}

.header-container {
  max-width: 1414px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  display: flex;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 48px;
  border: 1px solid #262626;
  padding: 20px 34px;
  border-radius: 50px;
  background-color: #17171799;
}

.nav-link {
  text-decoration: none;
  color: #7a7a7a;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20.8px;
}

.header-btn {
  color: #cccccc;
  background-color: #17171799;
  border: 1px solid #262626;
  padding: 16px 28px;
  border-radius: 50px;
  text-decoration: none;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 20.8px;
}

.hamburger-btn {
  width: 48px;
  height: 48px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  display: none;
}
/* HEADER END */

/* MAIN START */
/* HERO START */
.hero {
  padding-top: 125px;
  padding-bottom: 119px;
}
.hero-container {
  max-width: 723px;
  text-align: center;
}
.hero-title {
  font-family: "Poppins", sans-serif;
  font-size: 132px;
  font-weight: 500;
  line-height: 132px;
  background: linear-gradient(243.33deg, #fffff7 8.55%, #727267 100%);
  color: transparent;
  background-clip: text;
  margin-bottom: 30px;
}
.hero-text {
  font-family: "Inter", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 35px;
  color: #7d7f78;
  max-width: 516px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 49px;
}
.hero-link {
  background-color: #ffffff;
  border: 1px solid #ffffff;
  display: inline-flex;
  align-items: center;
  gap: 24px;
  text-decoration: none;
  padding: 9px 15px 10px 20px;
  border-radius: 50px;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  color: #000000;
}
/* HERO END */

/* TOGETHER START */
.together {
  padding-top: 119px;
  padding-bottom: 117px;
}

.together-container {
  max-width: 1137px;
}

.together-title {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 52.8px;
  background: linear-gradient(
    79.97deg,
    #fffff7 0%,
    rgba(255, 255, 247, 0.34) 100%
  );
  color: transparent;
  background-clip: text;
  margin-bottom: 82px;
  text-align: center;
}

.together-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 27px;
}

.together-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 1px solid #262626;
  background-color: #262626;
  border-radius: 30px;
  gap: 24px;
  padding: 0 17px 32px 17px;
}

.together-col-img {
  width: 120px;
  height: 120px;
  margin-top: -17px;
  border-radius: 29px;
}

.together-col-text {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: #cccccc;
}
/* TOGETHER END */

/* BENEFITS START */
.benefits {
  padding-top: 92px;
  padding-bottom: 109px;
}

.benefits-container {
  max-width: 1098px;
}

.benefits-title {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 52.8px;
  text-align: center;
  background: linear-gradient(
    79.97deg,
    #fffff7 0%,
    rgba(255, 255, 247, 0.34) 100%
  );
  color: transparent;
  background-clip: text;
  margin-bottom: 80px;
}

.benefits-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 52px;
}

.benefits-col {
  padding: 15px 21px 16px 15px;
  display: flex;
  align-items: center;
  gap: 19px;
  border: 1px solid #262626;
  border-radius: 30px;
  background-color: #1b1b1b;
}

.benefits-img {
  width: 100px;
  height: 100px;
}

.benefits-text {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: #cccccc;
}
/* BENEFITS END */

/* FORM START */
.form {
  padding-top: 109px;
  padding-bottom: 106px;
}

.form-container {
  max-width: 985px;
  position: relative;
}

.form-img1 {
  position: absolute;
  bottom: 64px;
  left: -430px;
  max-width: 330px;
}

.form-img2 {
  position: absolute;
  top: 64px;
  right: -430px;
  max-width: 330px;
}

.form-title {
  font-family: "Poppins", sans-serif;
  font-size: 44px;
  font-weight: 400;
  line-height: 52.8px;
  text-align: center;
  background: linear-gradient(
    71.83deg,
    #fffff7 0%,
    rgba(255, 255, 247, 0.34) 100%
  );
  color: transparent;
  background-clip: text;
  max-width: 840px;
  margin-bottom: 47px;
  margin-left: auto;
  margin-right: auto;
}

.form-row {
  display: flex;
  gap: 32px;
  justify-content: center;
}

.form-col {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 318px;
  width: 100%;
}

.form-row .form-col:nth-child(3) {
  max-width: 265px;
}

.form-col-title {
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  font-weight: 500;
  line-height: 25.5px;
  text-align: left;
  color: #d7d7d7;
  padding-left: 20px;
}
.form-col-input {
  padding: 13px 16px 13px 16px;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 22.5px;
  text-align: left;
  outline: none;
  border-radius: 22px;
  border: none;
  width: 100%;
}

.form-col-input::placeholder {
  color: #b7b7b7;
}

.form-btn {
  display: flex;
  border: none;
  border-radius: 22px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 14px;
  cursor: pointer;
  transform: translateY(12px);
}
/* FORM END */

/* ABOUT START */
.about {
  padding-top: 106px;
  padding-bottom: 100px;
}

.about-container {
  max-width: 1100px;
}

.about-title {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 52.8px;
  text-align: center;
  background: linear-gradient(
    79.97deg,
    #fffff7 0%,
    rgba(255, 255, 247, 0.34) 100%
  );
  color: transparent;
  background-clip: text;
  margin-bottom: 86px;
}

.about-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 2px;
}

.about-info {
  max-width: 497px;
}

.about-info-title {
  font-family: "Poppins", sans-serif;
  font-size: 51px;
  font-weight: 600;
  line-height: 41.8px;
  margin-bottom: 35px;
  color: #cccccc;
}

.about-info-text {
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 41.8px;
  letter-spacing: -1.1399999856948853px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #cccccc;
}

.about-img {
  border-radius: 31px;
  object-fit: cover;
  width: 100%;
  object-position: top;
}
/* ABOUT END */

/*  COUNT START */
.count {
  padding-top: 97px;
  padding-bottom: 82px;
}

.count-container {
  max-width: 970px;
}

.count-title {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 52.8px;
  letter-spacing: -1.3200000524520874px;
  text-align: center;
  background: linear-gradient(
    79.97deg,
    #fffff7 0%,
    rgba(255, 255, 247, 0.34) 100%
  );
  color: transparent;
  background-clip: text;
  margin-bottom: 61px;
}

.count-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.count-col-title {
  font-family: "Poppins";
  font-size: 70px;
  font-weight: 400;
  line-height: 73.5px;
  text-align: center;
  background: linear-gradient(
    30.62deg,
    #fffff7 0%,
    rgba(255, 255, 247, 0.34) 100%
  );
  color: transparent;
  background-clip: text;
  margin-bottom: 12px;
}

.count-col-text {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  color: #7a7a7a;
  max-width: 224px;
  margin-left: auto;
  margin-right: auto;
}
/*  COUNT END */

/* MISSION START */
.mission {
  padding-top: 85px;
  padding-bottom: 85px;
}

.mission-container {
  max-width: 1100px;
}

.mission-title {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 52.8px;
  text-align: center;
  background: linear-gradient(
    79.97deg,
    #fffff7 0%,
    rgba(255, 255, 247, 0.34) 100%
  );
  color: transparent;
  background-clip: text;
  margin-bottom: 40px;
}

.mission-info {
  background: linear-gradient(113.49deg, #ffffff 0%, #d2d2d2 100%);
  padding: 78px 75px 99px 74px;
  border-radius: 24px;
  position: relative;
}

.mission-img {
  position: absolute;
  max-width: 190px;
  bottom: -33px;
  right: -100px;
}

.mission-info-text {
  font-family: "Poppins", sans-serif;
  font-size: 45px;
  font-weight: 500;
  line-height: 60px;
  text-align: center;
  color: #000000;
}
/* MISSION END */
/* MAIN END */

/* MEDIA */
@media (max-width: 1029px) {
  .together-row {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 47px 30px;
  }

  .together-col {
    max-width: 329px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 1018px) {
  /* ABOUT START */
  .about-box {
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .about-img {
    order: -1;
  }
  /* ABOUT END */
}

@media (max-width: 980px) {
  /* BENEFITS START */
  .benefits-row {
    grid-template-columns: 1fr 1fr;
  }
  /* BENEFITS END */

  /* FORM START */
  .form-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  /* FORM END */
}

@media (max-width: 840px) {
  /* HEADER START */
  .header {
    padding-top: 40px;
  }

  .header-logo img {
    width: 66px;
  }

  .nav-list {
    display: none;
  }

  .header-btn {
    display: none;
  }

  .hamburger-btn {
    display: flex;
  }
  /* HEADER END */
}

@media (max-width: 768px) {
  .hero {
    padding-top: 100px;
  }

  .hero-title {
    font-size: 53px;
    line-height: 1;
    margin-bottom: 25px;
  }

  .hero-text {
    font-size: 14px;
    line-height: 1.2;
    margin-bottom: 20px;
  }

  .hero-link {
    font-size: 16px;

    img {
      width: 30px;
    }
  }

  /* TOHETHER START */
  .together {
    padding-bottom: 42px;
  }

  .together-title {
    font-size: 27px;
    line-height: 1.2;
    margin-bottom: 57px;
  }
  .together-col {
    gap: 7px;
    border-radius: 24px;
  }

  .together-col-img {
    width: 96px;
    height: 96px;
    border-radius: 20px;
  }

  .together-row {
    grid-template-columns: 1fr 1fr;
  }

  .together-col-text {
    font-size: 18px;
    line-height: 1.2;
  }
  /* TOGETHER END */

  /* BENEFITS START */
  .benefits {
    padding-top: 48px;
    padding-bottom: 24px;
  }

  .benefits-title {
    margin-bottom: 40px;
    font-size: 30px;
    line-height: 1.2;
  }

  .benefits-row {
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .benefits-col {
    padding: 16px 19px;
    border-radius: 20px;
  }

  .benefits-img {
    width: 80px;
    height: 80px;
  }
  /* BENEFITS END */

  /* FORM START */
  .form {
    padding-top: 67px;
    padding-bottom: 34px;
  }

  .form-title {
    font-size: 27px;
    line-height: 1.2;
    margin-bottom: 28px;
  }

  .form-row {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .form-col {
    max-width: none;
    align-items: start;
  }

  .form-btn {
    padding-top: 10px;
    padding-bottom: 9px;
  }

  .form-img1 {
    position: absolute;
    bottom: 260px;
    left: -90px;
    max-width: 160px;
  }

  .form-img2 {
    position: absolute;
    top: 260px;
    right: -90px;
    max-width: 160px;
  }
  /* FORM END */

  /* COUNT START */

  .count {
    padding-top: 38px;
    padding-bottom: 30px;
  }

  .count-title {
    font-size: 30px;
    margin-bottom: 40px;
    line-height: 1.2;
  }
  .count-row {
    display: flex;
    flex-direction: column;
  }

  .count-col-title {
    font-size: 54px;
    line-height: 1.2;
    margin-bottom: 12px;
  }

  .count-col-text {
    font-size: 18px;
    line-height: 1.2;
  }
  /* COUNT END */

  /* MISSION START */
  .mission {
    padding-top: 30px;
    padding-bottom: 28px;
  }

  .mission-title {
    font-size: 27px;
    line-height: 1.2;
    margin-bottom: 28px;
  }

  .mission-info {
    padding: 40px 30px;
  }

  .mission-info-text {
    font-size: 24px;
    line-height: 1.4;
  }

  .mission-img {
    position: absolute;
    max-width: 121px;
    bottom: -44px;
    right: -29px;
  }
  /* MISSION END */
}

@media (max-width: 640px) {
  /* ABOUT START */

  .about {
    padding-top: 40px;
    padding-bottom: 35px;
  }

  .about-title {
    margin-bottom: 30px;
  }
  .about-box {
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .about-img {
    order: -1;
    height: 310px;
  }

  .about-info-title {
    font-size: 36px;
    line-height: 1.2;
    margin-bottom: 20px;
  }

  .about-info-text {
    font-size: 18px;
    line-height: 1.4;
  }
  /* ABOUT END */
}

@media (max-width: 540px) {
  .together-row {
    grid-template-columns: 1fr;
  }
}
/* MADIA END */
